/* struttura */
#container {
    width: max-content;
    margin: 0 auto;
}
.row {
    padding: 1em;
}

/* item */
.item {
    width: 300px;
    height: 372px;
    display: inline-block;
    position: relative;
}
.item:hover {
    cursor: pointer;
}

/* sconti */
.sale-30, .sale-5 {
    position: absolute;
    top: 0;
    right: 0;
}
.sale-30 {
    background-color: green;
}
.sale-5 {
    background-color: red;
}

/* cuoriccino */
.heart {
    color: red;
    position: absolute;
    right: 150px;
    bottom: 1em;
    display: none;
}
.item:hover .heart {
    display: block;
}